@model Capstone_Event_Management.Models.CollegeEvents

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CollegeEvents</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResourcePerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResourcePerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeOfEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeOfEvent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateTimeOfEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateTimeOfEvent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDateTimeOfEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDateTimeOfEvent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastDayToRegister)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastDayToRegister)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosterUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosterUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clubs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clubs.ClubEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
