@model IEnumerable<Capstone_Event_Management.Models.CollegeEvents>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResourcePerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModeOfEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTimeOfEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDateTimeOfEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastDayToRegister)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PosterUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clubs)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourcePerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeOfEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTimeOfEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateTimeOfEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDayToRegister)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosterUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clubs.ClubEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
